<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="version=${#strings.randomAlphanumeric(3)}">

<head>
	<title>Home layout</title>
	<meta charset="UTF-8" />
	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

</head>

<!-- https://preview.keenthemes.com/metronic/demo1/custom/apps/user/list-default.html -->


<body id="kt_body"
	class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail4">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail4" placeholder="Email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
	


	<!-- 	MEUS JS -->
	<script th:replace=":: js"></script>
	<script th:replace=":: inlinescript" th:inline="javascript"></script>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>